.headerContainer {
    margin: 0;
	height: 45px;
}

.headerContainer__appName {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    margin: auto 0;
    font-size: 22px;
}

.headerContainer__searchBlock {
    width: 300px;
	height: 35px;
	padding: 7px;
	border-color: #3b50c7;
	outline: none;
	color: black;
    cursor: text;
    margin: auto 0;
}
.headerContainer__searchBlock::placeholder{
    color: #9E9C9C;
  }

.header_sticky {
    position: sticky;
    top: 0;
}